body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

    font-family: 'Quicksand', 'Comic Sans MS', Arial, sans-serif;
    background-color: rgba(197,229,250,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; 
}

h1 {
    color: #732c5d; 
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    gap: 20px;
}

label, button {
    color: #732c5d;
}

input, button {
    border: 2px solid #732c5d; 
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

#result {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #732c5d; 
}

#piupiu-image {
    width: 100px;
    height: auto;
}


#calendar-container {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#month-selector {
    margin-bottom: 20px;
}

button {
    background-color: #732c5d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: #571f40;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: rgba(197,229,250,255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1);
}

.day {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}